
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";

// Bulma
@import '~bulma';
// FA
$fa-font-path: '~font-awesome/fonts'; // this would normally go in a settings/variables file

@import "~font-awesome/scss/font-awesome"; // this would go with the rest of your imports

table.has-cursor-pointer tr {
  cursor: pointer;
}
